.reveal th {
    font-weight   : bold;
    text-align    : left;
    padding       : 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-top    : 1px solid;
    border-right  : 1px solid transparent;
    border-bottom : 1px solid;
    border-left   : 1px solid transparent;
}

.reveal td {
    text-align: left;
    padding: 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-spacing: 0;
}

.reveal {
    font-size: 24px !important;
}

.reveal h2 {
    color: #ff9911;
    font-size: 42px !important;
}

.reveal section p {
    font-size: 42px !important;
}

.reveal section li {
    font-size: 42px !important;
}


.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
}

b, strong {
   color: #ffafff;
}

/* .MathJax_CHTML { */
/*     font-size: 200% !important; */
/* } */
